<!-- Header-->
<header class="pt-5">
    <img width="100%" height="400px" src="https://static.vecteezy.com/system/resources/previews/002/006/605/original/paper-art-shopping-online-on-smartphone-and-new-buy-sale-promotion-pink-backgroud-for-banner-market-ecommerce-free-vector.jpg" alt="banner">
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let product of allproducts | filter: searchKey :'title'">
                <div class="card h-100 p-3">
                    <!-- Product image-->
                    <img height="150px" class="card-img-top" [src]="product.image" [alt]="product.title" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title.slice(0,20)}}...</h5>
                            <!-- Product price-->
                            ${{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="d-flex justify-content-between">
                            <!-- view -->
                            <a class="btn btn-outline-warning mt-auto" routerLink="/products/view-product/{{product.id}}">
                                <i class="fa-solid fa-eye "></i>
                            </a>
                            <!-- add to cart -->
                            <button (click)="addtocart(product)" class="btn btn-outline-success mt-auto">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
