/* You can add global styles to this file, and also import other style files */
@import  "node_modules/ngx-toastr/toastr.css";
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Playfair', serif;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Solway', serif; */
}